*{
  box-sizing:border-box
  margin:0;
  padding:0;
}

header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background-color:#2e2d2d;
  background-attachment:fixed;
}
  
.icon1, .icon2{
  width:24px;
  height:24px;
  stroke:brown;
}

h1{
  font-weight:600px;
  color:white;
}

header a:link{
  background-color:red;
  color:white;
}
    
    
  
